<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid" style="gap: 1em; padding: 0.5em">
    <button
      *ngIf="includeBackButton"
      (click)="goBack()"
      type="button"
      class="btn btn-light btn-lg"
    >
      Go Back
    </button>
    <a class="navbar-brand text-white" href="#"
      ><h2>{{ title | async }}</h2></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      *ngIf="includeSearchBar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      *ngIf="includeSearchBar"
    >
      <form class="d-flex container-fluid">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          [value]="searchValue"
          (input)="handleChange($event)"
        />
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
